<div class="wrapper">
  <div class="title">HORARIOS DE TRABAJO</div>
  <div class="day-header-lunes">Lunes</div>
  <div class="day-header-martes">Martes</div>
  <div class="day-header-miercoles">Miércoles</div>
  <div class="day-header-jueves">Jueves</div>
  <div class="day-header-viernes">Viernes</div>
  <!-- Aquí irían las celdas para las 7 franjas horarias -->
  <!-- Repite para cada franja horaria -->
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <!-- ... -->
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <!-- ... -->
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <!-- ... -->
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <!-- ... -->
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <!-- ... -->
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <!-- ... -->
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
</div>

